.swiper-button-next:after,
.swiper-button-prev:after {
	color: #ffba08;
}

.swiper-pagination-bullet-active {
	background-color: #ffba08;
}

.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
}
